<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="csrf-token" content="<%= Plug.CSRFProtection.get_csrf_token() %>">
    <title>Blog</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/assets/index.css") %>">
  </head>

  <body>
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script src="<%= static_path(@conn, "/assets/index.js") %>"></script>
  </body>
</html>
